@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    box-sizing: border-box;
}

:root, button {
    font-family: "Roboto", sans-serif;
}

.topbar-container {
    background: bisque;
    position: sticky;
    top: 0;
}

.app-container {
    background: tomato;
    min-height: 100vh;
}

.information-card {
    background: plum;
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
}